@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
   --color-background: 255 255 255; /* This is RGB for white */
  --color-foreground: 23 23 23;   /* Dark text for light background */git remote add onboard https://github.com/Princedayma/onboard.git

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
